/*Обнулення*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {

  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }


/*Стилі*/
html{
  background-color: #2d2d2d;
  width: 100%;
  height: 1300px;

}

.wrapper {
  overflow: hidden;
  
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
 background-color: #2d2d2d;
 box-shadow: 0 2px 2px 0 rgba(11, 16, 28, 0.25);
  
}
.header::before{
  content: ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d2d2d;
  z-index: 5;
}
.header-body {
position: relative;

display: flex;
justify-content: space-between;
height: 80px;
align-items: center;
}

.container1 {
  max-width: 1362px;
  margin: 0 auto;
  padding: 0 30px;
}
.header-text1{
  font-family: "SignikaNegative", sans-serif;
  font-size: 48px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f0f0f0;
   font-size: 40px;
   z-index: 40;
   margin: 164px 34px;

}
.header-text2{
  font-family: "SignikaNegative", sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
.carts{
  max-width: 1362px;
  margin: 0 auto;
  padding: 0 30px;
}
.header-list{
  display: flex;
}
.header-list li{
   list-style: none;
   margin: 0 0 0 40px;
}
.header-link {
  color: #f5f5f5;
  font-family: 'SignikaNegative', sans-serif;
  font-size: 17.5px;
  font-weight: 600;
  line-height: 1.35;
}
.header-link:hover {
  color: #dc3c56;
}

.burger {
  display: none;  
 
}
.header-logo {
  width: 308px;
  height: 66px;
 padding: 0 10px;
}
.header-logo img{
  max-width: 100%;
  display: block;
}
.group1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 164px;
 
}
.group2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 101px;
}
.cart1 {
  border-radius: 15px;
  box-shadow: 0 2px 2px 0 rgba(11, 16, 28, 0.25);
  background-color: #202020;
  width: 277px;
  height: 357px;
  margin: 15px;
}

.foto {
  border-radius: 15px;
   width: 277px;
  height: 155px;
}
.cart1-text1 {
  font-family: 'SignikaNegative', sans-serif;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: left;
  color: #f0f0f0;
}
.cart1-text2 {
  font-family: 'DMSans', sans-serif;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 2;
  text-align: left;
  color: #bbb;
  display: flex;
  flex-direction: column;
  height: 115px;
  
}
.cart1-text1,.cart1-text2{
  padding: 10px;
}
.cart1-link{
   font-family: 'DMSans', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
  color: #E87D8E;
  padding-left: 10px;
 
}
.cart1-link:hover{
color: #dc3c56;
}


.footer {
   width: 100%;
  height: 246px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
  background-color: #202020;
  position: relative;
}
.text-footer1,.text-footer2 {
  font-family: 'SignikaNegative', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.35;
  text-align: center;
  color: #868686;
}
.text-footer1,.icons{
  width: 300px;
  
}
.text-footer1{
  margin-bottom: 30px;

}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}
.text-footer2{
  margin-top: 34px;
  color: #505050;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.whatsapp-link {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  content: ;
  bottom: 100px;
  right: 30px;
  padding: 0 30px;
 
}

/*Адаптив*/
@media (max-width:1027px){
  .group1{
    max-width: 900px;
    margin: 0 auto;
    margin-top: 164px;
  }
  .group2{
    max-width: 900px;
    margin: 0 auto;
  }
 
}
@media (max-width:834px){
  body.lock{
  overflow: hidden;
}
.header-menu {
 position: fixed;
 content: ;
  top: -100%;
  overflow: auto;
  left: 0;
  width: 100%;
  height: 100%;
  transition-duration: 1.5s;
  background-color: #2d2d2d;
}
.open.active{
  transition-duration: 3s;
  
  transform: rotate(180deg);
}

.header-menu.active{
  top: 0;
  transition-duration: 1.5s;
}
.header-link{
  display: inline-block;
  font-size: 25px;
  padding-bottom: 100px;

}
.header-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;

}
.open{
  transition-duration: 3s;
}

.burger{
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 4;
  top: 0;
  transform: scale(1.0);

 }
 
 

}
@media (max-width:838px){
  .header-menu{
    z-index: 1;
  }
  .burger{
    display: flex;
    justify-content: flex-end;

  }

}
@media (max-width:427px){
  .header{
    height: 50px;
  }
  .header-logo{
    opacity: 0;
  }
  
  .burger{
     display: flex;
    align-items: center;
    position: absolute;
    content: ;
    top: 0;
    right: 0;
    padding-top: 22px;
  }
  
  .whatsapp-link{
    display: none;
  }
  @media (max-width:320px){
  .carts{
    padding: 0 7px;
    margin: 0;
  }
  

